RewriteEngine on

RewriteRule ^LOGIN login.php [NC,L]
RewriteRule ^REGISTRATION registration.php [NC,L]
RewriteRule ^HOME index.php [NC,L]
RewriteRule ^JKLMN jklmn.php [NC,L]
RewriteRule ^FORBIDDEN 404.php [NC,L]
RewriteRule ^UBAH ubah.php [NC,L]
RewriteRule ^ADD tambah.php [NC,L]
RewriteRule ^KOMEN komen.php [NC,L]